# Java
*.class
*.war
*.ear
*.log
target/
build/

# Maven
target/
mvnw
.mvn/

# Spring Boot
*.iml
.idea/
target/
build/
logs/
*.jar

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React
/build
/node_modules

# Visual Studio Code
.vscode/
.idea/

# General
.DS_Store
Thumbs.db
